/* Set navigation buttons to red */
.rdp-root {
    --rdp-accent-color: #68f2cd;
}

/* Selected range */
.range-start,
.range-end,
.range-middle {
    background-color: #94e2cd;
    color: rgb(51, 51, 51)
}

.range-start {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.range-end {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}